<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Displayed Data</title>

</head>
<body>
<h2>Search Results</h2>
<p th:text="'name: ' + ${resDto.customer.name}"></p>
<p th:text="'numGuests: ' + ${resDto.guestNum}"></p>
<p th:text="'email: ' + ${resDto.customer.email}"></p>
<p th:text="'phone: ' + ${resDto.customer.phone}"></p>
<p th:text="'checkInDate: ' + ${resDto.checkInDate}"></p>
<p th:text="'checkOutDate: ' + ${resDto.checkOutDate}"></p>
<a href="/Hotel.html">Submit another message</a>
</body>
</html>